@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
.navbar {
  overflow: hidden;
  background-color: #f1f1f1;
}
.navbar ul{
    display: flex;
    margin: 0;
    justify-content: flex-start;
    padding: 0;
    align-items: center;
}
.navbar ul li {
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  list-style-type: none;
  margin: 0 20px;
  border-radius: 25px;
}
.navbar ul li:hover{
    background-color: #ffbf00;
    box-shadow: 4px 4px 10px rgba(0,0,0,25%);
    transition: all .5s;
    transition-duration: .5s;
}
.navbar ul li a {
    color: #000;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-style: normal;
}
.logo {
    width: 7.5%;
    padding: 0 !important;
    margin: 0 !important;
    align-items: center !important;
    background-color: #000 !important;
    border-radius: 0  !important;
}
.logo img {
    width: auto;
    height: 10vh;
    margin: -7px 0;
}
#whatsapp {
    position: fixed;
    bottom: 20px;
    right:20px;
    z-index: 1;
}
#whatsapp svg {
    width: 80px;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
}
circle {
    fill: #25d366;
}
 path {
    fill: #fff;
}
.presentation {
    width: 100%;
    height: 80vh;
    display: flex;
}
.slogan {
    background-image: url(/resources/pexels-pixabay-50597.jpg);
    background-size: cover;
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.presentation .slogan h1 {
    color: #f1f1f1;
    text-align: center;
}
.cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    position: relative;
    top: -110px;
}
.card {
    width: 75%;
    height: 26vh;
    border-radius: 15px;
    border: 5px solid #f1f1f1;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 25%);
    background-size: cover;
    background-color: rgb(255, 191, 0);
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
    cursor: pointer;
    justify-self: center;
}
.content {
    height: 26.1vh;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    color: #f1f1f1;
    margin: 0;
    align-content: center;
}
.cards .card a {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    transition: all .5s;
    color: #f1f1f1;
}
.card:hover {
    background-blend-mode: soft-light;
    filter: grayscale(50%);
    transition: all .5s;
    transition-duration: .5s;
}
.content:hover {
    color: #000 !important;
    transition: all .5s;
    transition-duration: .5s;
}
.card a:hover {
    color: #000 !important;
    transition: all .5s;
    transition-duration: .5s;
}
.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 110px;
}
.description {
    display: grid;
    align-items: center;
    align-content: center;
}
.description h3 {
    text-align: center;
    color: #ffbf00;
}
.description p {
    text-align: -webkit-center;
    padding: 0px 60px;
    width: auto;
    font-size: 24px;
}
.description a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    width: 20%;
    height: 55px;
    border-radius: 25px;
    background-color: darkgray;
    color: #000;
    margin: 32px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description a:hover {
    transition: all .5s;
    background-color: #ffbf00;
    box-shadow: 4px 4px 10px rgba(0,0,0,25%);
}
.image {
    width: 100%;
    height: auto;
    display: flex;
}
.image img {
    width: 100%;
    box-shadow: 4px 4px 10px rgba(0,0,0,25%);
}
.training-prices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 110px;
    perspective: 1000px;
    background-color: transparent;
    margin-bottom: 50px;
}
.price {
    width: 75%;
    height: 50vh;
    justify-self: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 25%);
    border-radius: 25px;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.price p {
    text-align: -webkit-center;
    font-weight: bold;
    background-color: #ffbf00;
}
.text {
    width: 80%;
    font-size: 20px;
    margin: auto;
    font-weight: normal !important;
    background-color: transparent !important;
}
.price:hover {
    transform: rotateY(180deg);
}
.price-front, .price-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.price-front {
    background-color: #f1f1f1;
    border-radius: 25px;
    display: grid;
    align-items: center;
    align-content: center;
}
.price-front img {
    display: grid;
    width: 35%;
    align-content: center;
    justify-content: center;
    justify-self: center;
}
.price-back {
    background-color: #f1f1f1;
    color: #000;
    transform: rotateY(180deg);
    border-radius: 25px;
    display: grid;
    align-items: center;
    align-content: center;
}
.button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    width: 10%;
    height: 55px;
    border-radius: 25px;
    background-color: darkgray;
    color: #000;
    margin: 0 auto 110px;
    align-items: center;
}
.button:hover {
    transition: all .5s;
    background-color: #ffbf00;
    box-shadow: 4px 4px 10px rgba(0,0,0,25%);
}
#section3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#section3 h3 {
    width: 100%;
    text-align: center;
    grid-column: 1 / 6;
    margin-top: 0;
}
.area {
    width: 120%;
    height: 30vh;
    background-size: cover;
    background-color: rgb(50, 50, 50);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    justify-self: center;
}
.area:hover {
    background-blend-mode: soft-light;
    box-shadow: 4px 4px 10px rgba(0,0,0,25%);
}
.area p {
    height: 30vh;
    padding: 0 80px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    color: #f1f1f1;
    margin: 0;
    align-content: center;
    visibility: hidden;
}
.area .descrip {
    font-size: 15px !important;
    padding: 0 30px;
    visibility: hidden;
}
.area:hover p, .descrip {
    visibility: visible;
    color: #f1f1f1;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f1f1f1;
    box-shadow: 4px 4px 10px rgba(0,0,0,25%);
}
footer .logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div img {
    width: 20%;
    height: max-content;
}